/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.webmap {
  height: 80vh;
  width: 100%;
}
.panel {
  width: 350px;
  padding: 10px;
  overflow-y: auto;
  height: 100%;

}

.panel h3 {
  margin-top: 0;
}

.panel ul {
  list-style: none;
  padding: 0;
}

.panel li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.panel li:hover {
  background-color: #eee;
}

.panel h4 {
  margin-top: 0;
}

.feature-list, .feature-details {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.feature-list th, .feature-list td, .feature-details th, .feature-details td {
  border: 1px solid #ddd;
  padding: 8px;
}

.feature-list th, .feature-details th {
  background-color: #f2f2f2;
  text-align: left;
}

.feature-list tr:hover, .feature-details tr:hover {
  background-color: #ddd;
}

.feature-list tr {
  cursor: pointer;
}

.feature-details th {
  background-color: #4CAF50;
  color: white;
}